body {
    /* background-image: linear-gradient(rgb(211, 177, 177) , rgb(240, 155, 58)); */
    /* background-color: rgb(214, 164, 123); */
    /* background-color: rgb(106, 121, 39); */
    /* background-color: rgb(56, 9, 36); */
    background-color: #2f2e36;
}


h1 {
    display: block;
    /* color: rgb(56, 149, 255); */
    /* text-shadow: 4px 4px rgb(167, 82, 82); */
    position: fixed;
    width: 100%;
    bottom: 0px;
    letter-spacing: 0em;
    white-space: pre;
}

h3 {
    font-weight: 100;
    font-size: 1.5em;
}

ul {
    list-style: none;
}

li::before {
    content: "🍄 ";
}

.canvas{
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.circletop {
    display: block;
    position: fixed;
    width: 500px;
    height: 500px;
    left: calc(50% - 250px);
    bottom: -300px;
    border-radius: 500px;
    background-color: #336666;
    transition: left 0.5s, width 0.5s;
}

.danceContainer{
    display: block;
    position: fixed;
    top: 10%;
    left: 15%;
    width: 70vw;
    height: 75vh;
    /* padding-top: 5%; */
    transition: opacity 0.5s;
    opacity: 0;
    /* background-color: #336666cb; */
    /* border: 5px solid #336666f5; */
    /* box-sizing: content-box; */
    /* overflow-y: scroll; */

}

.danceNavBlock {
    display: block;
    position: relative;
    width: 70vw;
    /* margin-top: 30px; */
    box-sizing: border-box;
    z-index: 1000;
}

.danceNav {
    display: inline-block;
    position: relative;
    text-align: center;
    width: calc(100% / 4);
    /* border: 1px solid black; */
    /* padding-top: 10px;
    padding-bottom: 10px; */
    color: #8ab5ac;
    /* border-radius: 100px; */
    /* border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px; */
    /* background-color: #5c4d8a; */
    /* border: 5px solid #5c4d8a; */
    border-top: 0px;
    margin: 0px;
    margin-left: calc(100% / 24);
    margin-right: calc(100% / 24);
    /* margin-top: -5%; */
    box-sizing: border-box;
    padding: 0px;
    transition: background-color, 0.2s;
}

.danceNav:hover {
    background-color: #5c4d8a;
    color: rgb(253, 225, 99);
}

.danceNav:active {
    
    background-color: #336666;
}

.danceNav span#text {
    display: none;
    padding-left: 10px;
}

.danceNav span#emoji {
    display: inline-block;
    /* font-size: 48px; */
    /* padding-left: 10px; */
}

.danceContent {
    padding: 10px;
    height: 75%;
    overflow-y: scroll;
    box-sizing: border-box;
    border-bottom: solid 5px #5c4d8a;
    vertical-align: text-top;
    scroll-behavior: smooth;
    /* background-color: #336666cb; */
}

.danceContentBlock{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 105%;
    /* padding-left: 10%; */
    /* padding-right: 10%; */
    padding-top: 20px;
    padding-bottom: 0%;
    box-sizing: border-box;
}

.danceContent img {
    display: inline-block;
    position: relative;
    width: 49%;
    padding: 2%;
    /* border: 5px solid #5c4d8a; */
    box-sizing: border-box;
}



@media only screen and (max-width: 800px){
    .circletop {
        /* left: calc(50% - (80% / 2));
        width: 80%; */
    }

    .danceContainer {
        top: 5%;
        left: 0%;
        width: 100vw;
    }

    .danceNav span#text {
        display: none;
    }

    .danceNav span#emoji {
        display: inline-block;
    }

    .danceNavBlock {
        /* left: 0%; */
        width: 100vw;
    }

    .danceContentBlock {
        /* padding-left: 2%;
        padding-right: 2%; */
    }

    .danceContent img {
        width: 100%;
        padding: 5%;
    }
}