
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,700;1,100;1,700&display=swap');


body {
    height: 100vh;
    color: white;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 18px;
    margin: 0px;
    /* white-space: pre; */
}

h1 {
    text-align: center;
    font-style: italic;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 3em;
    
}

h2 {
    text-align: center;
    font-style: normal;
    font-weight: 100;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 2em;
}

@keyframes letterspacing {
    from {letter-spacing: 0em;}
    to {letter-spacing: 1em;}
}

a {
    transition: color 1s, transform 0.5s;
    text-decoration-line: underline;
    text-decoration-style: wavy;
}

 /* unvisited link */
 a:link {
    color: red;
    transform: translateY(0px);
  }
  
  /* visited link */
  a:visited {
    color: red;
    transform: translateY(0px);
  }
  
  /* mouse over link */
  a:hover {
    color: blue;
    transform: translateY(10px);
  }
  
  /* selected link */
  a:active {
    color: blue;
    transform: translateY(10px);
  } 


