
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,700;1,100;1,700&display=swap');


body {
    height: 100vh;
    color: white;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 18px;
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
    overflow: hidden;
    /* white-space: pre; */
}

h1 {
    text-align: center;
    font-style: italic;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 3em;
    filter: blur(2px);
    transition: font-size 0.5s;
}

h2 {
    text-align: center;
    font-style: normal;
    font-weight: 100;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 2em;
}

a {
    transition: color 1s, transform 0.5s;
    text-decoration-line: none;
}

/* unvisited link */
a:link {
    color: white;
  }
  
  /* visited link */
  a:visited {
    color: white;
  }
  
  /* mouse over link */
  a:hover {
    color: blue;
  }
  
  /* selected link */
  a:active {
    color: blue;
  } 


.dance {
    display: block; 
    width: 100vw; 
    height: 45vh; 
    border: solid 10px white; 
    border-bottom: 5px;
    box-sizing: border-box;
    overflow: hidden;
    transition: height 0.5s;
}

.about {
    display: block; 
    width: 100vw; 
    height: 10vh; 
    border: solid 10px white; 
    border-bottom: 5px;
    box-sizing: border-box;
    overflow: hidden;
    transition: height 0.5s;
}

.video {
    display: block; 
    width: 100vw; 
    height: 45vh; 
    border: solid 10px white; 
    box-sizing: border-box;
    overflow: hidden;
    transition: height 0.5s;
}

.resizable {
    resize: vertical;

}

iframe {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
}


.canvas{
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

@media only screen and (max-width: 600px){
    h1 {
        font-size: 2em;
        filter: blur(1px);
    }
}

