body {
    /* background-image: linear-gradient(rgb(240, 155, 58) , rgb(243, 235, 192)); */
    /* background-color: rgb(61, 38, 38); */
    /* background-color: rgb(106, 121, 39); */
    background-color: rgb(56, 9, 36);   
}

h1 {
    display: block;
    position: fixed;
    text-shadow: 4px -4px rgb(167, 82, 82);
    width: 100%;
    top: 0px;
    right: 10px;
    /* letter-spacing: 0.4em; */
    white-space: pre;
}

.circlebottom {
    display: block;
    position: fixed;
    width: 50%;
    height: 500px;
    left: 25%;
    top: -250px;
    border-radius: 700px;
    background-color: rgb(167, 82, 82);
    transition: left 0.5s, width 0.5s;
}

.videoContent{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 20%;
    transition: opacity 0.5s;
    opacity: 0;
}

.videoContent iframe {
    display: block;
    position: relative;
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 900px){
    .circlebottom {
        left: 10%;
        width: 80%;
    }

    .videoContent iframe {
        width: 90%;
    }
}