body {
    /* background-image: linear-gradient(rgb(240, 155, 58) , rgb(243, 235, 192)); */
    /* background-color: rgb(61, 38, 38); */
    background-color: rgb(106, 121, 39);
    
}

h1 {
    display: block;
    position: fixed;
    text-shadow: 4px -4px red;
    width: 100%;
    top: 25px;
    right: 10px;
    /* letter-spacing: 0.4em; */
    white-space: pre;
}

.circlebottom {
    display: block;
    position: fixed;
    width: 50%;
    height: 300px;
    left: 25%;
    top: -150px;
    border-radius: 20px;
    background-color: red;
    transition: left 0.5s, width 0.5s;
}

@media only screen and (max-width: 900px){
    .circlebottom {
        left: 10%;
        width: 80%;
    }
}