html {
    scroll-behavior: smooth;
}

body {
    /* background-image: linear-gradient(rgb(240, 155, 58) , rgb(243, 235, 192)); */
    /* background-color: rgb(61, 38, 38); */
    /* background-color: rgb(106, 121, 39); */
    /* background-color: rgb(56, 9, 36);    */
    background-color: #252326;
    /* background-color: #2f2e36; */
}

h1 {
    display: block;
    position: fixed;
    /* text-shadow: 4px -4px rgb(167, 82, 82); */
    width: 100%;
    top: 0px;
    letter-spacing: 0em;
    white-space: pre;
    z-index: 250;
}

h2 {
    display: block;
    position: sticky;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
    /* margin-bottom: 25px; */
    /* margin-top: 25px; */
    /* border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px; */
    top: 0px;
    z-index: 1000;
    background-color: #336666f5;
    width: 200px;
}

h2.subtitle {
    width: 300px;
}

small {
    font-size: 0.5em;
    line-height: 0.2em;
}


.circlebottom {
    display: block;
    position: fixed;
    width: 500px;
    height: 500px;
    left: calc(50% - 250px);
    top: -300px;
    border-radius: 700px;
    background-color: #336666;
    transition: left 0.5s, width 0.5s;
}

.videoContent{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 75px;
    transition: opacity 0.5s, margin-top 0.5s;
    opacity: 0;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.videoContentChunk {
    display: block;
    position: relative;
    width: 100vw;
    min-height: 70vh;
    margin-top: 40px;
    margin-bottom: 40px;

}

.portfolio {
    display: block;
    position: relative;
    width: 790px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    padding-bottom: 150px;
    z-index: 500;
}

.portfolioItem {
    display: inline-block;
    position: relative;
    width: 240px;
    height: 180px;
    margin: 10px;
    overflow: hidden;
    transform: translate(0px, 0px);
    border: solid 5px #8ab5ac;
    box-shadow: 0px 0px transparent;
    box-sizing: border-box;
    transition: box-shadow 0.2s, border 0.2s, transform 0.2s;
    background-size: cover;
}

.portfolioItem:hover {
    transform: translate(0px, 5px);
    border: solid 5px rgb(253, 225, 99);
    box-shadow: 10px 10px #364035;
   
}

.portfolioItem img {
    display: block;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
}

.portfolioItem .overlay {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    color: transparent;
    background-color: transparent;
    transition: color 0.2s, background-color 0.2s;
    /* pointer-events: none; */
}

.portfolioItem p {    
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    text-align: center;
    /* width: 100%;
    height: 100%;
    margin: 0px;
    padding: 5%; */
    /* overflow: hidden; */
    box-sizing: border-box;
}

.portfolioItem p .title {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
    font-size: 1.5em;
    font-style: normal;
    text-align: center;
    line-height: 0.8em;
}

.portfolioItem p .info {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 100;
    font-size: 1em;
    font-style: normal;
    text-align: center;
    line-height: 0.2em;
}

.portfolioItem .overlay:hover{
    color: #336666;
    background-color: rgba(255, 255, 255, 0.6);
}

.videoContent iframe {
    display: block;
    position: relative;
    width: 775px;
    max-width: 775px;
    height: 436px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

@media only screen and (max-width: 800px){

    .videoContent {
        margin-top: 50px;
    }
    
    .portfolio {
        width: 90%;
    }

    .portfolioItem {
        width: 95%;
        height: calc(calc(95vw / 16) * 8);
    }

    .videoContentChunk {
        display: block;
        position: relative;
        width: 100vw;
        min-height: 50vh;
    
    }

    .videoContent iframe {
        width: 95%;
        height: calc(calc(95vw / 16) * 9);
        margin-left: auto;
        margin-right: auto;
    }
}